.competingTeamLogo1 {
  height: 200px;
  width: 200px;
}

.competingTeamNameContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Bree Serif';
}

.competingTeam1 {
  font-size: 32px;
  color: white;
}

.date1 {
  font-size: 28px;
  color: white;
}

.text1 {
  color: white;
  font-size: 18px;
  font-weight: 200;
}

.text2 {
  color: white;
  font-size: 18px;
  font-weight: 200;
}

.inningDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  font-family: 'Bree Serif';
  margin-top: 30px;
  margin-bottom: 30px;
}

.title1 {
  font-size: 24px;
  color: white;
  font-weight: 300;
  padding-bottom: 10px;
  margin-bottom: 0;
}
